{{#content}}
  {{#main}}    
    <a id="main-content"></a>
    <div class="view-content">
      <h1 class="title" id="page-title"><a href="{{url}}">{{title}}</a></h1>
      <p>{{description}}</p>
      <p>Citation URL: <a href="{{handle}}">{{handle}}</a></p>
      <h2>Interviews:</h2>      
      <div class="field-items">
        {{#interviews}}    
          <div class="field-item interview">
            <h3>{{title}}</h3>
            <ul>
              <li>Date: {{date}}</li>
              <li>Download the transcript: <a href="{{transcript}}">{{title}}</a></li>
            </ul>
            <iframe src="{{embed}}"></iframe>
          </div>
          <hr class="separator">
        {{/interviews}}
      </div>
    </div>
  {{/main}}
{{/content}}
