<div class="section clearfix">
  <div id="name-and-slogan">
    <div id="site-name">
      <strong><a href="{{appUrl}}" title="{{id}}" rel="{{id}}">{{appName}}</a></strong>
    </div>
    <div id="site-slogan">{{description}}</div>
  </div>
</div>
